#cloud-config
%{ if ssh_authorized_key != "" ~}
users:
  - default
  - name: ubuntu
    groups: [adm, sudo, docker]
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ${ssh_authorized_key}
%{ endif ~}
write_files:
  - path: /opt/wake-deploy/bootstrap.sh
    owner: root:root
    permissions: "0755"
    encoding: b64
    content: ${bootstrap_b64}
  - path: /opt/wake-deploy/run-worker.sh
    owner: root:root
    permissions: "0755"
    encoding: b64
    content: ${run_worker_b64}
  - path: /opt/wake-deploy/wake-worker.service
    owner: root:root
    permissions: "0644"
    encoding: b64
    content: ${systemd_unit_b64}
  - path: /etc/wake-worker.env
    owner: root:root
    permissions: "0600"
    encoding: b64
    content: ${worker_env_b64}
runcmd:
  - [bash, /opt/wake-deploy/bootstrap.sh]
