WAKE_IMAGE=${image}
WAKE_CONTAINER=wake_hands_segmentation_worker
WAKE_DEVICE=cuda
WAKE_S3_ENDPOINT_URL=https://storage.${region}.nebius.cloud
WAKE_S3_REGION=${region}
AWS_ACCESS_KEY_ID=${access_key_id}
AWS_SECRET_ACCESS_KEY=${secret_access_key}
WAKE_REFINEMENT_MODE=${refinement_mode}
WAKE_TEMPORAL_STRIDE=${temporal_stride}
WAKE_VIDEO_DECODER=${video_decoder}
WAKE_CUDA_GRAPH_BATCH_SIZE=${cuda_graph_batch_size}
